{% extends "layout.html" %} 

{% block title %}Home{% endblock %} 

{% block body %} 

    <br>
    <h1>
        <center>Unlock the Power of Python: Step-by-Step Syntax and Data Types
            Tutorial</center>
    </h1>
    </p>
    <h4>
    <p>
        Welcome to our comprehensive step-by-step Python syntax and data types
        tutorial. Whether you are a beginner eager to learn Python or an
        experienced programmer looking to refresh your knowledge, this
        tutorial is designed to help you grasp the fundamental concepts of
        Python syntax and data types. By the end of this tutorial, you'll have
        a solid foundation to build upon as you explore the vast possibilities
        of Python programming. Let's dive in!
    </p>
    
    <div id="container">
        <div id="main">
            Footer
        </div>
    </div>
    <footer id="footer">
    </footer>

{% endblock %}

