{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block style %}

{% endblock %}

{% block body %} 

    <div class="mainimg">

        <h2><TT>Code For Fools</TT></h2>
    
        <!-- <h4><TT>Scroll below to start your journey today!</TT></h4> -->
    
    </div>

<style>

    .animate-hidden {
        margin: 100vh;
        opacity: 0;
        transition: all 1s;
    }

    .animate-showw {
        margin: 100vh;
        opacity: 1;
        transition: all 1s;
    }

    .mainimg {
        margin: 0px;
        padding: 0px;        
        background-image: url(../static/images/header-images/codingbanner1.jpeg);
        background-repeat: no-repeat; 
        background-size: cover;
        height: 100vh;
        text-align: center;
        opacity: .9;
    }

    .mainimg h2 {
        font-size: 80px;
        color: white;
        padding-top: 20vh;
    }

    .mainimg h4 {
        color: white;
        margin-top: 45vh;
        font-size: 30px;
    }

</style>

{% endblock %}